<HTML>
  <BODY>

<div>
    Blog
</div>
<div>
    <br/>
</div>
<h1>
    <strong>Frank Sinatra </strong>
    <br/>
</h1>
<div>
    <br/>
</div>
<div>
    <em>Oct 1st, 2014</em>
</div>
<div>
    <br/>
</div>
<div>
    Fly me to the moon
</div>
<div>
    Let me play among the stars
</div>
<div>
    Let me see what spring is like
</div>
<div>
    On a-Jupiter and Mars
</div>
<div>
    In other words, hold my hand
</div>
<div>
    In other words, baby, kiss me
</div>
<div>
    Fill my heart with song
</div>
<div>
    And let me sing for ever more
</div>
<div>
    You are all I long for
</div>
<div>
    All I worship and adore
</div>
<div>
    In other words, please be true
</div>
<div>
    In other words, I love you
</div>
<div>
    Fill my heart with song
</div>
<div>
    Let me sing for ever more
</div>
<div>
    You are all I long for
</div>
<div>
    All I worship and adore
</div>
<div>
    In other words, please be true
</div>
<div>
    In other words, in other words
</div>
<div>
    I love... you
</div>
</BODY>
  </HTML>