<HTML>


<style type="text/css">
 
 #root {
    background-color: #eee;
}

#left_side {
    float: left;
    width:25%;
}

#center_s {
    float:left;
 	 width:75%;
    background-color: #ccc;
}

.clear{clear:both;}




</style>


	<BODY>

<div id="root">
    <div id="left_side">
    
    <h1>JOHN
    <div></div>
    DOE</h1>

    <IMG SRC="http://images2.fanpop.com/images/photos/7900000/JOHN-DOE-PICS-john-doe-7968930-350-240.jpg"
    width = 250px

 USEMAP="#Map">
<MAP NAME="Map">
 <AREA SHAPE="rect"
     HREF="debut.html"
     COORDS="0,0,48,28">

 <AREA SHAPE="circle"
     HREF="precedent.html"
     COORDS="50,30,10">

 <AREA SHAPE="poly"
     HREF="suivant.html"
     COORDS="60,50,80,30,100,40,50,100">
</MAP>

    <h3> <b> PHONE </b></h3>
    <div> 01 42 42 42 42</div>
    <h3> <b> EMAIL </b></h3>
	<div>
	jdoe@42.fr</div>
    <h3> <b> ADDRESS </b></h3>
	<div> none</div>
    </div>

    <div id="center_s">
        <h1>Previous employment</h1>
        <h2>Company Name </h2>
    	<h3>Title</h3>
    	<div>description</div>

        <h2>Company Name </h2>
    	<h3>Title</h3>
    	<div>description</div>


    	<h1>Profesional skills </h1>
 
    	<div></div>

<left><TABLE float:left; width=60% border=1>
<TR><TD width=33%>Software</TD><TD width=33%>Languages</TD>

<TR><TD width=33%>

<div>tech1</div>
<div>tech2</div>
<div>tech3</div>
<div>tech4</div>

</TD><TD width=33%>
<div>Lang1</div>
<div>Lang2</div>
<div>Lang3</div>
<div>Lang4</div>


</TD>

</TABLE></left>



    	<h1>Education</h1>
        <h2>University ...</h2>
    	<div>description</div>
    	<h2>University ...</h2>
    	<div>description</div>

    </div>
</div>

	</BODY>
</HTML>