<h1>Write Post</h1>

<form>
	<label for="GET-name">Title:</label>
	<div></div>
	<input id="GET-name" type="text" name="name">
	<div></div>
	<label for="GET-name">Content:</label>
	<div></div>
	<textarea id="txtArea" rows="10" cols="70"> </textarea>
	<div></div>
	<button id="creatButton"> Create Post </button>
</form>